@model ProjetoDAAW.Models.Personagem

@{
    ViewData["Title"] = "Create";
}

<h1>Criar Novo Personagem</h1>

<h4>Personagem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Prsnag" class="control-label"></label>
                <input asp-for="Prsnag" class="form-control" />
                <span asp-validation-for="Prsnag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="filmeSelecionados" class="control-label">Filmes</label>
                <select id="filmeSelecionados" name="filmeSelecionados" asp-items="ViewBag.Filme" class="form-control"></select>
                <span asp-validation-for="Filme" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="artistaSelecionados" class="control-label">Artistas</label>
                <select id="artistaSelecionados" name="artistaSelecionados" asp-items="ViewBag.Artista" class="form-control" ></select>
                <span asp-validation-for="Artista" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; gap:10px; margin-top:10px;">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
