@model ProjetoDAAW.Models.Filme

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Filme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="generoSelecionados" class="control-label">Gêneros</label>
                <select id="generoSelecionados" name="generoSelecionados" asp-items="ViewBag.Genero" class="form-control" multiple="multiple"></select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DtLancamento" class="control-label"></label>
                <input asp-for="DtLancamento" class="form-control" />
                <span asp-validation-for="DtLancamento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="artistaSelecionados" class="control-label">Artistas</label>
                <select id="artistaSelecionados" name="artistaSelecionados" asp-items="ViewBag.Artista" class="form-control" multiple="multiple"></select>
                <span asp-validation-for="Artista" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Diretor" class="control-label"></label>
                <input asp-for="Diretor" class="form-control" />
                <span asp-validation-for="Diretor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FtCapaFilme" class="control-label"></label>
                <input asp-for="FtCapaFilme" class="form-control" />
                <span asp-validation-for="FtCapaFilme" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:flex; gap:10px; margin-top:10px;">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
